[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EDOIF"]
	path = EDOIF
	url = https://github.com/darkeyes/edoif
	shallow = true
	registered = true
[submodule "ipADMIXTURE"]
	path = ipADMIXTURE
	url = https://github.com/darkeyes/ipadmixture
	shallow = true
	registered = true
[submodule "mFLICA"]
	path = mFLICA
	url = https://github.com/darkeyes/mflica
	shallow = true
	registered = true
[submodule "VLTimeCausality"]
	path = VLTimeCausality
	url = https://github.com/darkeyes/vltimeseriescausality
	shallow = true
	registered = true
[submodule "MRReg"]
	path = MRReg
	url = https://github.com/darkeyes/mrreg
	shallow = true
	registered = true
[submodule "BiCausality"]
	path = BiCausality
	url = https://github.com/darkeyes/bicausality
	shallow = true
	registered = true
