[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiCausality"]
	path = BiCausality
	url = https://github.com/darkeyes/bicausality
[submodule "EDOIF"]
	path = EDOIF
	url = https://github.com/darkeyes/edoif
[submodule "ipADMIXTURE"]
	path = ipADMIXTURE
	url = https://github.com/darkeyes/ipadmixture
[submodule "mFLICA"]
	path = mFLICA
	url = https://github.com/darkeyes/mflica
[submodule "MRReg"]
	path = MRReg
	url = https://github.com/darkeyes/mrreg
[submodule "VLTimeCausality"]
	path = VLTimeCausality
	url = https://github.com/darkeyes/vltimeseriescausality
